.grid-container{
  margin: 1% auto;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-gap: 0;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.grid-item{
  width: 100%;
  padding-top: 100%;
}

.hovered{
  background-color: black;
}

h1{
  margin-top: 2%;
  text-align: center;
}

button{
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
